* {
  box-sizing: border-box;
}
body {
    font-family: "Quicksand", sans-serif;
    margin: 0 60px 0;
}
a, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.first-section {
  background-color:lightyellow;
}
.title h1{
  font-size: 3rem;
  color:crimson;
}
.link-list {
  display: flex; /* display list items as a grid */
  flex-wrap: wrap;
}
.link-item {
  border: 2px solid orangered;
  flex: 20%;
  margin: 8px;
  font-weight: bold;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: start;
}
.link-item:nth-child(5) {
  color: white;
  font-weight: bold;
  background-color:orangered;
  border-top: none;
  max-width: 15%;
  margin: 0 8px 4px;
}
.second-section {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 0 8px;
  padding: 16px;
}
.image {
  flex: 40%;
}
.image img {
  width: 100%;
  height: 100%;
}
.text-img {
  flex: 30%;
}
.american, .british {
  cursor: pointer;
  color: white;
  background-color: orangered;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  justify-content: center;
}
.american, .british {
  margin: 0 24px 16px;
  height: 48%;
}
.american p, .british p {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
}
.third-section {
  background-color: blanchedalmond;
  padding: 16px;
}
.row-products:not(.featured) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  cursor: pointer;
  min-height: 20%;
  min-width: 20%;
  max-width: 22%;
  max-height: 22%;
  margin: 12px 12px 0;
}
.item img {
  width: 100%;
  height: 80%;
  border-radius: 4px 4px 0 0;
  object-fit: cover;
}
.item .name {
  color: blueviolet;
  font-weight: bold;
}
.item .price {
  color: pink;
}
.item .name, .item .price {
  margin: 8px 8px;
} 
.item-info {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 0 0 8px 8px;
  margin-top: -4px;
}
.featured {
  background-color: white;
  border-radius: 8px;
  flex-grow: 1;
  display: flex;
  margin: 0 40px 16px;
  justify-content: space-evenly;
  align-items: center;
}
.featured img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}
.featured-text {
  margin: 0 20px 16px;
  font-size: medium;
}
.featured-text button {
  cursor: pointer;
  padding: 12px 28px 12px;
  border: 1px solid orangered;
  background-color: orangered;
  border-radius: 16px;
  color: white;
  font-size: large;
}
.fourt-section {
  background-color: lightyellow;
}
.line-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  flex: 1;
  height: 3px;
  margin: 0 12px 0 12px;
  background-color: crimson;
}
.line-section p {
  font-weight: bold;
  color:navy;
}
.specialties {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0 20px 0;
}
.specialties img {
  cursor: pointer;
  width: calc(100% / 8 + 12px);
  height: 180px;
  margin-bottom: 12px;
  border-radius: 8px;
  object-fit: cover;
}
.last-section {
  padding: 10px;
  margin: 0;
  color: navy;
  font-weight: bold;
  background-color: blanchedalmond;
  text-align: center; 
}